*{
	padding;0;
	margin:0;
}
body{
	background-color:#778899;
	color:#fff;
}
div{
	text-align:center;
	background-color:#2F4F4F;

}
button{
	width:10%;
	height:7%;
	background-color:#1E90FF;
	padding;2rem;
	margin:2rem;
	border-radius:10%;
}
